<ion-header class="toolbar-white" no-border>
	<ion-navbar>
		<ion-title>Reset Password</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="row direction-column-xs between-xs full-height p-xs-30">
		<div></div>
		<form>
			<ion-item>
				<ion-label floating>New password</ion-label>
				<ion-input type="password"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>Repeat password</ion-label>
				<ion-input type="password"></ion-input>
			</ion-item>
		</form>
		<div class="row center-xs btn-panel mt-xs-50">
			<button class="btn btn-primary" (click)="gotoPage('NewPasswordPage', 'root')">Confirm</button>
		</div>
	</div>
</ion-content>