<ion-header class="toolbar-primary" no-border>
	<ion-navbar>
		
	</ion-navbar>
</ion-header>
<ion-content class="bg-primary" no-bounce>
	<div class="full-height row middle-xs direction-column-xs between-xs p-xs-30">
		<div></div>
		<div class="bg-light p-xs-20 col-xs-12 text-xs-center">
			<div class="row center-xs mb-xs-20" style="margin-top: -40px;">
				<div class="lesson-icon row middle-xs center-xs"><i class="icon-yipp_home_line"></i></div>
			</div>
			<h3><strong>Goal: Practice Food</strong></h3>
			<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, eveniet voluptates incidunt voluptate iure.</h3>
			<ion-item>
				<ion-input></ion-input>
			</ion-item>
			<div class="date-time mt-xs-15 row center-xs middle-xs">
				<i class="icon-gear_line"></i>
				<span>5 min</span>
			</div>
		</div>
		<div class="mt-xs-50">
			<button class="btn btn-secondary" (click)="gotoPage('QuestionPage')">Start</button>
		</div>
	</div>
</ion-content>