<ion-content no-bounce>
  <ion-slides class="tour-slider" (lockSwipes)="true">
    <ion-slide>
      <div class="slider-content full-height row direction-column-xs">
        <div class="col-xs-auto bg-red p-xs-20 row middle-xs">
          <h2 class="text-light text-xs-center">{{'TOUR_FINISH_TEXT_1' | translate}} <strong>{{child_name}}</strong> {{'WITH_THE_TEXT' | translate}} <strong>Samen Happie</strong> app!</h2>
        </div>
        <div class="slider-details">
          <div (click)="gotoPage('TourSliderPage', 'root')" class="prev-slider slider-arrow"><i class="icon-yipp_back icon-2x"></i></div>
          <div class="col-xs-auto pr-xs-10 pl-xs-10">
            <button (click)="gotoPage('TimelinePage', 'root')" class="btn btn-primary">{{'START_TEXT' | translate}}</button>
          </div>
          <div class="next-slider slider-arrow"></div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>