<ion-header class="toolbar-primary" no-border>
	<ion-navbar>
		<div class="progress-bar">
			<div class="progress" style="width: 75%;"></div>
		</div>
		<ion-buttons end>
			<i class="icon-yipp_home_line icon-2x"></i>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height bg-primary p-xs-20 row direction-column-xs between-xs">
		<div>
			<h2 class="text-xs-center text-light mb-xs-30"><strong>Your Challenge</strong></h2>
			<div class="bg-light with-radius p-xs-20 pr-xs-30 pl-xs-30 mb-xs-20">
				<h3 class="mb-xs-0">When I put someone in front of the sink, I immediately ask if they want to brush their teeth</h3>
			</div>
			<h3 class="text-xs-center"><a href="#!" class="text-light">Add Reminder</a></h3>
		</div>
		<div class="btn-panel row center-xs mt-xs-50">
			<button class="btn btn-secondary">Next</button>
		</div>
	</div>
</ion-content>