<ion-header class="toolbar-white" no-border>
	<ion-navbar>
		<ion-title>{{'ADD_PHOTO_TEXT' | translate}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height row direction-column-xs between-xs p-xs-20 pt-xs-30">
		<div>
			<div class="add-photo row middle-xs center-xs">+</div>
			<!-- <div class="add-photo has-image row middle-xs center-xs" style="background-image: url( 'assets/imgs/tour/slider-1.jpg' );"></div> -->
			<h3 class="text-xs-center text-primary">{{'REGISTRATION_PHOTO_PAGE_TEXT' | translate}}{{child_name}}!</h3>
		</div>
		<div class="btn-panel mt-xs-50 row direction-column-xs middle-xs">
			<button class="btn btn-primary mb-xs-10" (click)="gotoPage('RegistrationFinishPage')">{{'NEXT_TEXT' | translate}}</button>
			<a (click)="gotoPage('RegistrationFinishPage')">{{'REGISTRATION_PHOTO_PAGE_TEXT_2' | translate}}</a>
		</div>
	</div>
</ion-content>