<ion-content no-bounce>
	<div class="full-height row between-xs direction-column-xs p-xs-30 pr-xs-50 pl-xs-50">
		<div class="col-xs-auto row middle-xs center-xs p-xs-30">
			<img src="assets/imgs/logos/sune-mule.png" />
		</div>
		<div class="btn-panel text-xs-center">
			<button class="btn btn-icon signup-facebook text-light btn-block mb-xs-5">
				<i class="icon-yipp_logo_heart icon-left"></i>
				Sign up met <strong>Facebook</strong>
			</button>
			<button class="btn btn-icon signup-google text-light btn-block mb-xs-5">
				<i class="icon-yipp_logo_heart icon-left"></i>
				Sign up met <strong>Google</strong>
			</button>
			<button class="btn btn-icon btn-primary btn-block mb-xs-15">
				<i class="icon-yipp_logo_heart icon-left"></i>
				Sign up met <strong>Email</strong>
			</button>
			<a (click)="gotoPage('LoginPage')">I already have an account</a>
		</div>
	</div>
</ion-content>