page-timeline {
	.header-details {
		padding-bottom: 10px;
		
		.user-details {
			.value {
				margin-bottom: 0;
			}

			.months {
				border-right: 1px solid #fff;
				padding-right: 20px;
				margin-right: 20px;
			}
		}

		.profile-picture {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	.modules-list {
		.module-item {
			background-color: #fff;
			border-radius: 3px;
			border-bottom: 2px solid #419a64;
			color: $baseColor;
			margin-bottom: 10px;

			&.active {
				.details {
					background-color: #f6f6f6;
				}
			}

			.action {
				button {
					color: $baseColor;
					background-color: transparent;
					appearance: none;
				}
			}
		}
	}
}
