<ion-header class="toolbar-primary" no-border>
	<ion-navbar>
		<ion-buttons left>
			<button ion-button ion-only (click)="gotoPage('ProfilePage')" class="text-light">
				<i class="icon-yipp_profile_line icon-3x"></i>
			</button>
		</ion-buttons>
		<ion-title><button><i class="icon-yipp_down"></i></button> Module 1</ion-title>
		<ion-buttons right>
			<button ion-button ion-only (click)="gotoPage('SettingsPage')" class="text-light">
				<i class="icon-gear_line icon-3x"></i>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="bg-primary full-height p-xs-30">
		<div class="modules-list">
			<div class="row middle-xs module-item active" (click)="gotoPage('StartLessonPage')">
				<div class="details col-xs-auto p-xs-20">
					<h3 class="m-xs-0"><strong>Gezonde mond</strong></h3>
					<h3 class="mb-xs-20">Hoe ziet een gezonde mond er uit?</h3>
					<div class="author text-primary">by Anita, mondhygieniste</div>
				</div> <!-- end of .details -->
				<div class="action p-xs-20">
					<button><i class="icon-yipp_logo_heart icon-4x"></i></button>
				</div>
			</div> <!-- end of .module-item -->
			<div class="row middle-xs module-item" (click)="showAlert()">
				<div class="details col-xs-auto p-xs-20">
					<h3 class="m-xs-0"><strong>Gezonde mond</strong></h3>
					<h3 class="mb-xs-20">Hoe ziet een gezonde mond er uit?</h3>
					<div class="author text-primary">by Anita, mondhygieniste</div>
				</div> <!-- end of .details -->
				<div class="action p-xs-20">
					<button><i class="icon-yipp_forward icon-4x"></i></button>
				</div>
			</div> <!-- end of .module-item -->
			<div class="row middle-xs module-item">
				<div class="details col-xs-auto p-xs-20">
					<h3 class="m-xs-0"><strong>Gezonde mond</strong></h3>
					<h3 class="mb-xs-20">Hoe ziet een gezonde mond er uit?</h3>
					<div class="author text-primary">by Anita, mondhygieniste</div>
				</div> <!-- end of .details -->
				<div class="action p-xs-20">
					<button><i class="icon-yipp_forward icon-4x"></i></button>
				</div>
			</div> <!-- end of .module-item -->
			<div class="row middle-xs module-item">
				<div class="details col-xs-auto p-xs-20">
					<h3 class="m-xs-0"><strong>Gezonde mond</strong></h3>
					<h3 class="mb-xs-20">Hoe ziet een gezonde mond er uit?</h3>
					<div class="author text-primary">by Anita, mondhygieniste</div>
				</div> <!-- end of .details -->
				<div class="action p-xs-20">
					<button><i class="icon-yipp_forward icon-4x"></i></button>
				</div>
			</div> <!-- end of .module-item -->
			<div class="row middle-xs module-item">
				<div class="details col-xs-auto p-xs-20">
					<h3 class="m-xs-0"><strong>Gezonde mond</strong></h3>
					<h3 class="mb-xs-20">Hoe ziet een gezonde mond er uit?</h3>
					<div class="author text-primary">by Anita, mondhygieniste</div>
				</div> <!-- end of .details -->
				<div class="action p-xs-20">
					<button><i class="icon-yipp_forward icon-4x"></i></button>
				</div>
			</div> <!-- end of .module-item -->
			<div class="row middle-xs module-item">
				<div class="details col-xs-auto p-xs-20">
					<h3 class="m-xs-0"><strong>Gezonde mond</strong></h3>
					<h3 class="mb-xs-20">Hoe ziet een gezonde mond er uit?</h3>
					<div class="author text-primary">by Anita, mondhygieniste</div>
				</div> <!-- end of .details -->
				<div class="action p-xs-20">
					<button><i class="icon-yipp_forward icon-4x"></i></button>
				</div>
			</div> <!-- end of .module-item -->
		</div> <!-- end of .modules-list -->
	</div>
</ion-content>
<ion-footer no-border>
	<div class="row middle-xs around-xs p-xs-5 pt-xs-10">
		<a href="#!" class="text-primary"><i class="icon-yipp_home_line icon-2x"></i><br/>Training</a>
		<a href="#!"><i class="icon-yipp_challenge_line icon-2x"></i><br/>Challenge</a>
	</div>
</ion-footer>