<ion-content no-bounce>
  <div class="full-height bg-red row direction-column-xs between-xs middle-xs p-xs-20">
    <div class="col-xs-auto row middle-xs">
      <h1 class="text-xs-center text-light">{{'TOUR_START_TEXT_1' | translate}} <strong>{{child_name}}</strong> {{'TOUR_START_TEXT_2' | translate}} <strong>Samen Happie</strong> app!</h1>
    </div>
    <div class="btn-panel col-xs-12 row direction-column-xs middle-xs">
      <button class="btn btn-secondary mb-xs-10" (click)="gotoPage('TourSliderPage', 'root')">{{'START_TOUR_TEXT' | translate}}</button>
      <p class="text-light" (click)="gotoPage('TimelinePage', 'root')">{{'SKIP_TOUR_TEXT' | translate}}</p>
    </div>
  </div>
</ion-content>