<ion-header class="toolbar-primary" no-border>
	<ion-navbar>
		<div class="progress-bar">
			<div class="progress" style="width: 90%;"></div>
		</div>
		<ion-buttons end>
			<i class="icon-yipp_home_line icon-2x"></i>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height bg-primary p-xs-20 row direction-column-xs between-xs">
		<div class="bg-light with-radius p-xs-15 pr-xs-20 pl-xs-20">
			<div class="date-time row middle-xs text-primary mb-xs-10">
				<div class="time">
					<i class="icon-yipp_notification_line"></i>
					<span>14:00</span>
				</div>
				<div class="separator ml-xs-10 mr-xs-5">|</div>
				<div class="date">
					<i class="icon-yipp_repeat_line"></i>
					<span>Everyday</span>
				</div>
			</div> <!-- end of .date-time -->
			<div class="row between-xs">
				<div class="col-xs-auto pr-xs-20">
					<h3 class="mb-xs-0">When I put someone in front of the sink, I immediately ask if they want to brush their teeth</h3>
				</div>
				<div class="edit">
					<a href="#!"><i class="icon-yipp_edit icon-3x"></i></a>
				</div>
			</div>
		</div>
		<div class="btn-panel mt-xs-50 row center-xs">
			<button class="btn btn-secondary">Next</button>
		</div>
	</div>
</ion-content>