<ion-header class="toolbar-light" no-border>
	<ion-navbar>
		<ion-title>Challenge details</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="bg-primary p-xs-15 pr-xs-20 pl-xs-20">
		<div class="bg-light with-radius p-xs-15 pr-xs-20 pl-xs-20">
			<div class="date-time row middle-xs mb-xs-10">
				<div class="time text-primary row middle-xs">
					<div><i class="icon-yipp_notification_line"></i></div>
					<div class="value">14:00</div>
				</div>
				<div class="separator mr-xs-5 ml-xs-5">|</div>
				<div class="date text-primary row middle-xs">
					<div><i class="icon-yipp_repeat_line"></i></div>
					<div class="value">Everyday</div>
				</div>
			</div> <!-- end of .date-time -->
			<div class="challenges row middle-xs between-xs">
				<div class="col-xs-auto pr-xs-10">
					<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus autem commodi iste, a deserunt illum optio, minus voluptatum accusamus magnam, excepturi quos. Esse nobis labore neque, a culpa provident, enim?</h3>
				</div>
				<a href="#!"><i class="icon-yipp_edit icon-3x"></i></a>
			</div>
		</div>
	</div>
	<div class="edit-challenges p-xs-20">
		<div class="edit-navigation mb-xs-20 row middle-xs">
			<div class="navigation-item done">
				<button class="number"><i class="icon-yipp_done-line"></i></button>
			</div>
			<div class="navigation-item active">
				<button class="number">2</button>
			</div>
			<div class="navigation-item">
				<button class="number">3</button>
			</div>
			<div class="navigation-item">
				<button class="number">4</button>
			</div>
			<div class="navigation-item">
				<button class="number">5</button>
			</div>
			<div class="navigation-item">
				<button class="number">6</button>
			</div>
			<div class="navigation-item">
				<button class="number">7</button>
			</div>
			<div class="navigation-item">
				<button class="number">8</button>
			</div>
			<div class="navigation-item">
				<button class="number">9</button>
			</div>
			<div class="navigation-item">
				<button class="number">10</button>
			</div>
			<div class="navigation-item">
				<button class="number">11</button>
			</div>
			<div class="navigation-item">
				<button class="number">12</button>
			</div>
		</div> <!-- end of .edit-navigation -->
		<div class="form-group">
			<label><h3><strong>Evaluation</strong></h3></label>
			<textarea class="form-input" placeholder="How did it go?"></textarea>
		</div>
		<div class="reactions row middle-xs center-xs">
			<button class="reaction-item selected"><i class="icon-yipp_emoticon_sad"></i></button>
			<button class="reaction-item"><i class="icon-yipp_emoticon_neutral"></i></button>
			<button class="reaction-item"><i class="icon-yipp_emoticon_happy"></i></button>
		</div>
		<div class="form-group">
			<label><h3><strong>Notes</strong></h3></label>
			<textarea class="form-input" placeholder="What can you do better next time?"></textarea>
		</div>
		<div class="btn-panel row center-xs">
			<a href="#!" class="btn btn-primary">Done</a>
		</div>
	</div>
</ion-content>