page-challenge-details {
	.challenges {
		h3 {
			margin-bottom: 0;
		}

		.number-list {
			li {
				padding-left: 30px;

				&:before {
					font-size: 1.286em;
				}
			}
		}
	}

	.edit-challenges {
		background-color: #fbfbfb;

		.edit-navigation {
			.navigation-item {
				width: 20%;
				margin-bottom: 15px;
				position: relative;

				.number {
					background-color: #fff;
					position: relative;
					z-index: 2;
					width: 30px;
					height: 30px;
					margin: 0 auto;
					border-radius: 50%;
					color: #4a4a4a;
					border: 1px solid #4a4a4a;
					font-size: 1.429em;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					appearance: none;
				}

				&:before {
					content: '';
					background-color: #4a4a4a;
					width: calc( 100% - 30px );
					height: 1px;
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto 0;
					left: 0%;
					z-index: 1;
				}

				&:after {
					content: '';
					background-color: #4a4a4a;
					width: calc( 100% - 30px );
					height: 1px;
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto 0;
					right: 0%;
					z-index: 1;
				}

				&:nth-child( 5n + 1 ) {
					&:before {
						content: none;
					}
				}

				&:last-child, &:nth-child( 5n ) {
					&:after {
						content: none;
					}
				}

				&.done {
					.number {
						background-color: $primary;
						color: #fff;
						border-color: $primary;
					}
				}

				&.active {
					.number {
						color: $primary;
						border-color: $primary;
					}
				}
			}
		}

		.add-photo-challenge {
			background-color: #e6e6e6;
			width: 100%;
			height: 195px;
			margin-bottom: 20px;

			&.has-image {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;

				h1, .add-icon {
					display: none;
				}
			}

			.add-icon {
				font-size: 3.000em;
			}
		}

		.reactions {
			margin-bottom: 20px;

			.reaction-item {
				font-size: 4.000em;
				color: $primary;
				background-color: transparent;
				appearance: none;
				margin: 0 10px;

				&.selected {
					i {
						background-color: #b1dbcd;
					}
				}

				i {
					border-radius: 50%;

					&:before {
						margin: 0;
					}
				}
			}
		}
	}
}