page-challenges {
	ion-content {
		background-color: #fafbfb !important;
	}

	.challenges-list,
	.endChallenges-list {
		margin-bottom: 50px;

		.challenge-item {
			background-color: #fff;
			padding: 10px 20px;
			margin-bottom: 10px;
			border-top: 1px solid #f1f1f1;
			border-bottom: 1px solid #f1f1f1;

			.separator {
				color: darken( #f0f0f0, 10% );
				margin-left: 5px;
				margin-right: 3px;
			}

			h3 {
				margin-bottom: 0;
			}
		}
	}
}