<ion-content no-bounce>
    <ion-slides class="explanation-slider" pager>
        <ion-slide style="background-image: url( 'assets/imgs/explanation/slider-1.jpg' );">
            <div class="slider-content row direction-column-xs end-xs">
                <div class="slider-icon row center-xs middle-xs col-xs-auto">
                    <div class="icon"><i class="icon-yipp_logo_heart icon-5x"></i></div>
                </div>
                <div>
                    <h2>Kennis!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic harum totam, expedita voluptas quam repellendus, rem minima rerum cum nisi perspiciatis, ex deleniti laudantium. Accusantium voluptate ipsum veniam recusandae voluptas.</p>
                </div>
                <div class="slider-skip">
                    <a (click)="gotoPage('PreloginPage', 'root')">Skip</a>
                </div>
            </div> <!-- end of .slider-content -->
        </ion-slide> <!-- end of ion-slider -->
        <ion-slide style="background-image: url( 'assets/imgs/explanation/slider-2.jpg' );">
            <div class="slider-content row direction-column-xs end-xs">
                <div class="slider-icon row center-xs middle-xs col-xs-auto">
                    <div class="icon"><i class="icon-yipp_logo_heart icon-4x"></i></div>
                </div>
                <div>
                    <h2>To do's!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate inventore, dolores alias quis aut voluptatem autem, error iure architecto delectus id sint, temporibus voluptatum doloremque maiores incidunt, totam commodi eligendi.</p>
                </div>
                <div class="slider-skip">
                    <a (click)="gotoPage('PreloginPage', 'root')">Skip</a>
                </div>
            </div>
        </ion-slide>
        <ion-slide style="background-image: url( 'assets/imgs/explanation/slider-2.jpg' );">
            <div class="slider-content row direction-column-xs end-xs">
                <div class="slider-icon row center-xs middle-xs col-xs-auto">
                    <div class="icon"><i class="icon-yipp_logo_heart icon-4x"></i></div>
                </div>
                <div>
                    <h2>Samenvatting</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam obcaecati est modi consectetur illo repudiandae expedita, voluptatum delectus asperiores, sint, veritatis rerum beatae. Sunt, suscipit necessitatibus quas obcaecati iste libero!</p>
                </div>
                <div class="slider-skip">
                    <a (click)="gotoPage('PreloginPage', 'root')" class="start-btn">Let's start</a>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>