<ion-content no-bounce>
	<div class="full-height bg-red pt-xs-50 pb-xs-50 pr-xs-30 pl-xs-30 row direction-column-xs between-xs">
		<div>
			<h2 class="text-xs-center mb-xs-20 text-primary"><strong>Les behaald!</strong></h2>
			<div class="set-icon"><i class="icon-yipp_done-line"></i></div>
			<h3 class="text-xs-center">Wat goed, het is je gelukt! Heel veel success deze week met jouw doel! Meer informatie? ga alvast naar de volgende les, of ga naar alle trainingen om het overzicht te zien.</h3>
		</div>
		<div class="btn-panel mt-xs-50 row middle-xs direction-column-xs">
			<button class="btn btn-primary mb-xs-20">Home</button>
			<a href="#!" class="text-primary">Samenvatting<i class="icon-yipp_forward"></i></a>
		</div>
	</div>
</ion-content>