page-question {
	.answers-list {
		.answer-item {
			background-color: #fff;
			color: $baseColor;
			border-radius: 3px;
			width: 100%;
			appearance: none;
			margin-bottom: 10px;
			font-size: 1.286em;
			font-weight: 700;
			padding: 33px 10px;
			border-bottom: 2px solid #419a64;
		}
	}	
}