<ion-header class="toolbar-primary" no-border>
	<ion-navbar>
		<div class="progress-bar">
			<div class="progress" style="width: 20%;"></div>
		</div>
		<ion-buttons end>
			<i class="icon-yipp_home_line icon-2x"></i>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height bg-primary p-xs-30 row direction-column-xs between-xs">
		<h2 class="text-xs-center text-light"><strong>Begginende gaatjes kun je zelf herstellen.</strong></h2>
		<div class="answers-list">
			<button class="answer-item">Waar</button>
			<button class="answer-item">Niet waar</button>
		</div>
		<div></div>
	</div>
</ion-content>