<ion-header class="toolbar-primary" no-border>
	<ion-navbar>
		<div class="progress-bar">
			<div class="progress" style="width: 20%;"></div>
		</div>
		<ion-buttons end>
			<i class="icon-yipp_home_line icon-2x"></i>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height bg-red p-xs-20 row direction-column-xs">
		<div class="cards-list col-xs-auto">
			<div class="card-item bg-light with-radius row direction-column-xs between-xs">
				<div>
					<h2 class="text-xs-center mb-xs-30"><strong>Mucositis</strong></h2>
					<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla accusantium, quos totam explicabo, quia maiores nam beatae error expedita debitis non ratione maxime vero. Debitis quis, nemo blanditiis repellendus fugit.</h3>
				</div>
				<div class="card-favorite row between-xs middle-xs">
					<div>
						<a href="#!">Volgende kaart <i class="icon-yipp_forward"></i></a>
					</div>
					<div>
						<button><i class="icon-yipp_heart_line icon-2x"></i></button>
						<button><i class="icon-yipp_heart_full icon-2x"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>