<ion-header no-border class="toolbar-primary">
	<ion-navbar>
		<div class="progress-bar">
			<div class="progress" style="width: 75%;"></div>
		</div>
		<ion-buttons end>
			<i class="icon-yipp_home_line icon-2x"></i>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height bg-primary row direction-column-xs between-xs p-xs-30">
		<div>
			<h2 class="text-xs-center mb-xs-30"><strong>Set up a challenge</strong></h2>
			<h3 class="mb-xs-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt modi nihil quia soluta iure error, natus obcaecati ullam architecto nemo laudantium animi autem fuga, incidunt eum adipisci, quaerat dolore, quis!</h3>
			<div class="challenges-list">
				<div class="challenge-item">
					<div class="item-name">
						<h3>Als</h3>
					</div>
					<div class="input-container col-xs-auto">
						<ion-item>
							<ion-input placeholder="(Set up your to do)"></ion-input>
						</ion-item>
					</div>
				</div>
				<div class="challenge-item">
					<div class="item-name">
						<h3>Dann</h3>
					</div>
					<div class="input-container col-xs-auto">
						<ion-item>
							<ion-input placeholder="(Set up your to do)"></ion-input>
						</ion-item>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-panel row center-xs mt-xs-50">
			<button class="btn btn-secondary">Next</button>
		</div>
	</div>
</ion-content>