page-setup-challenge {
	.challenges-list {
		margin-bottom: 20px;

		.challenge-item {
			counter-increment: numbers;
			position: relative;
			margin-bottom: 15px;
			color: #fff;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			justify-content: space-between;

			.item-name {
				width: 60px;

				h3 {
					margin-bottom: 0;
					font-weight: 700;
				}
			}

			.input-container {
				padding-right: 10px;

				.item {
					background: transparent;
				}
			}
		}
	}

	.add-challenge {
		span {
			font-size: 1.429em;
		}
	}

	*::-webkit-input-placeholder {
	  color: #a3d6c5 !important;
	}
	*:-moz-placeholder {
	  color: #a3d6c5 !important;
	}
	*:-ms-input-placeholder { /* IE10+ */
	  color: #a3d6c5 !important;
	}
}