<ion-content no-bounce>
  <ion-slides class="tour-slider" pager>
      <ion-slide>
          <div class="slider-content full-height row direction-column-xs">
              <div class="col-xs-auto bg-red p-xs-20 row middle-xs">
                  <img src="assets/imgs/tour/gif_new_1.gif" />
              </div>
              <div class="slider-details">
                  <div class="prev-slider slider-arrow"></div>
                  <div class="col-xs-auto pr-xs-10 pl-xs-10">
                      <p><strong>{{'TIPS_TEXT' | translate}} &amp; {{'OPINIAN_TEXT' | translate}}</strong></p>
                      <p>{{'TOUR_SLIDER_TEXT_1' | translate}} &amp; {{'TOUR_SLIDER_TEXT_2' | translate}}.</p>
                  </div>
                  <div (click)="nextSlide()" class="next-slider slider-arrow"><i class="icon-yipp_forward icon-2x"></i></div>
              </div>
          </div>
      </ion-slide>
      <ion-slide>
          <div class="slider-content full-height row direction-column-xs">
              <div class="col-xs-auto bg-red p-xs-20 row middle-xs">
                  <img src="assets/imgs/tour/gif_new_2.gif" />
              </div>
              <div class="slider-details">
                  <div (click)="prevSlide()" class="prev-slider slider-arrow"><i class="icon-yipp_back icon-2x"></i></div>
                  <div class="col-xs-auto pr-xs-10 pl-xs-10">
                      <p><strong>{{'PROFILE_TEXT' | translate}}</strong></p>
                      <p>{{'TOUR_SLIDER_TEXT_3' | translate}}!</p>
                  </div>
                  <div (click)="nextSlide()" class="next-slider slider-arrow"><i class="icon-yipp_forward icon-2x"></i></div>
              </div>
          </div>
      </ion-slide>
      <ion-slide>
          <div class="slider-content full-height row direction-column-xs">
              <div class="col-xs-auto bg-red p-xs-20 row middle-xs">
                  <img src="assets/imgs/tour/gif_new_3.gif" />
              </div>
              <div class="slider-details">
                  <div (click)="prevSlide()" class="prev-slider slider-arrow"><i class="icon-yipp_back icon-2x"></i></div>
                  <div class="col-xs-auto pr-xs-10 pl-xs-10">
                      <p><strong>{{'TOUR_SLIDER_TEXT_4' | translate}}</strong></p>
                      <p>{{'TOUR_SLIDER_TEXT_5' | translate}}!</p>
                  </div>
                  <div (click)="gotoPage('TourFinishPage', 'root')" class="next-slider slider-arrow"><i class="icon-yipp_forward icon-2x"></i></div>
              </div>
          </div>
      </ion-slide>
  </ion-slides>
</ion-content>