page-tour-slider {
  h1 {
    font-size: 4.000em;

    @media screen and ( max-width: 375px ) {
        font-size: 3.000em;
    }
}

.tour-slider {
    ion-slide {
        font-size: 1em;

        .slide-zoom {
            height: 100%;

            .slider-content {
                .slider-details {
                    padding: 15px 20px;
                    min-height: 170px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    p {
                        font-size: 1em;
                    }

                    .slider-arrow {
                        width: 26px;
                    }
                }

                h2 {
                    font-size: 2.000em;
                }

                img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 50%;
                    width: auto;
                    max-width: none;
                    max-height: none;
                    margin: 0 auto;
                }
            }
        }
    }

    .swiper-pagination {
        bottom: 175px;

        .swiper-pagination-bullet {
            background-color: #fff;
        }
    }
}

.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
}
