<ion-header class="toolbar-primary" no-border>
	<ion-navbar>
		<div class="progress-bar">
			<div class="progress" style="width: 20%;"></div>
		</div>
		<ion-buttons end>
			<i class="icon-yipp_home_line icon-2x"></i>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height bg-primary p-xs-20 row between-xs direction-column-xs">
		<div class="text-xs-center">
			<p>Chance</p>
			<h2><strong>What you think is the chance that you keep this goal?</strong></h2>
		</div>
		<div>
			<ion-item class="item-borderless transparent">
				<ion-range color="light"></ion-range>
			</ion-item>
		</div>
		<div class="btn-panel row center-xs">
			<button class="btn btn-secondary">Next</button>
		</div>
	</div>
</ion-content>