<ion-content no-bounce>
	<div class="full-height bg-red row middle-xs direction-column-xs between-xs p-xs-50 pb-xs-20">
		<div></div>
		<h1 class="text-xs-center text-light">{{'REGISTRATION_FINISH_PAGE_TEXT_1' | translate}} <u>{{child_name}}</u> {{'WITH_THE_TEXT' | translate}} <strong>Yipp app!</strong></h1>
		<div class="btn-panel row center-xs mt-xs-50">
			<button class="btn btn-secondary" (click)="gotoPage('TourStartPage', 'root')">{{'BEGIN_TEXT' | translate}}!</button>
		</div>
	</div>
</ion-content>