<ion-header class="toolbar-primary" no-border>
	<ion-navbar>
		<ion-buttons left>
			<div class="row middle-xs">
				<div class="mr-xs-10"><i class="icon-yipp_close"></i></div>
				<div>Lesson recap</div>
			</div>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-navbar>
	<div class="bg-primary pb-xs-10 pl-xs-30 pr-xs-30">
		<p>Lorem ipsum dolor sit amet?<br/><small>by Anitha, mondhygieniste</small></p>
	</div>
</ion-header>
<ion-content no-bounce>
	<div class="pinnedCards-section pb-xs-20">
		<div class="pl-xs-20">
			<div class="title-icon row middle-xs">
				<i class="icon-yipp_goal_line"></i>
				<p><strong>Pinned Cards</strong></p>
			</div>
		</div>
		<ion-slides class="cards-slider" loop>
			<ion-slide>
				<div class="pt-xs-10 pb-xs-10 pl-xs-20 pr-xs-20">
					<div class="bg-light with-radius text-xs-center p-xs-20 pb-xs-10">
						<h3><strong>Mucositis</strong></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nemo tempora, saepe at ex necessitatibus eius, laudantium unde totam animi. Laboriosam doloribus explicabo repellat mollitia repellendus odit, molestiae quas, dolorum!</p>
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="pt-xs-10 pb-xs-10 pl-xs-20 pr-xs-20">
					<div class="bg-light with-radius text-xs-center p-xs-20 pb-xs-10">
						<h3>X<br>No more cards</h3>
					</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div> <!-- end of .pinnedCards-section -->
	<div class="importantPoints-section pb-xs-20">
		<div class="pl-xs-20">
			<div class="title-icon row middle-xs">
				<i class="icon-yipp_summary_line"></i>
				<p><strong>Belangrijkste punten</strong></p>
			</div>
		</div>
		<ol class="number-list">
			<li>A summary of the right answer of the question</li>
			<li>A summary of the right answer of the question</li>
			<li>A summary of the right answer of the question</li>
		</ol>
	</div> <!-- end of .importantPoints-section -->
	<div class="todos-section pb-xs-20">
		<div class="pl-xs-20">
			<div class="title-icon row middle-xs">
				<i class="icon-yipp_done-line"></i>
				<p><strong>Todo's</strong></p>
			</div>
		</div>
		<div class="pl-xs-20 pr-xs-20">
			<ion-list>
				<ion-item class="item-borderless">
					<ion-label>Lorem ipsum dolor sit amet</ion-label>
					<ion-checkbox></ion-checkbox>
				</ion-item>
				<ion-item class="item-borderless">
					<ion-label>Lorem ipsum dolor sit amet</ion-label>
					<ion-checkbox></ion-checkbox>
				</ion-item>
			</ion-list>
		</div>
	</div> <!-- end of .todos-section -->
	<div class="btn-panel row middle-xs center-xs pt-xs-20 pb-xs-20">
		<button>Lorem Ipsum</button>
	</div>
</ion-content>