page-cheat-sheet {
	ion-content {
		background-color: #fafbfb !important;
	}

	.cards-slider {
		ion-slide {
			font-size: 1em;

			h3 {
				font-size: 1.286em;
			}

			p {
				font-size: 1em;
			}
		}
	}

	.pinnedCards-section {
		border-bottom: 1px solid #dcdddd;
	}

	.importantPoints-section {
		border-bottom: 1px solid #dcdddd;

		.number-list {
			li {
				padding-left: 30px;

				&:before {
					font-weight: 700;
				}
			}
		}
	}

	.todos-section {
		border-bottom: 1px solid #dcdddd;

		.item {
			background-color: transparent;
			
			&.item-md {
				.checkbox-md {
					margin-right: 10px;
				}
			}
		}
	}

	.btn-panel {
		border-bottom: 1px solid #dcdddd;
		background-color: #fff;

		button {
			appearance: none;
			background-color: transparent;
			display: block;
			width: 100%;
			font-size: 1.143em;
			font-weight: 700;
		}
	}
}