<ion-header class="toolbar-white" no-border>
	<ion-navbar>
		<ion-title>{{'SIGN_UP_CHILD' | translate}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height p-xs-20 row direction-column-xs between-xs">
		<div>
			<div class="signup-navigation row middle-xs">
				<div [ngClass]= "{'active': child_type === 'son'}" class="col-xs-6 text-xs-center navigation-item"  (click)="tabSelect('son')">{{'SON_TEXT' | translate}}</div>
				<div [ngClass]= "{'active': child_type === 'daughter'}" class="col-xs-6 text-xs-center navigation-item" (click)="tabSelect('daughter')">{{'DAUGHTER_TEXT' | translate}}</div>
			</div> <!-- end of .signup-navigation -->
		</div>
		<form [formGroup]="registerChildForm">
			<ion-item class="mb-xs-10-important">
				<ion-label stacked>{{'YOUR_CHILD_NAME_TEXT' | translate}}</ion-label>
				<ion-input type="text" [(ngModel)]="child_name" placeholder="{{'NAME_TEXT' | translate}}" formControlName="name"></ion-input>
			</ion-item>
			<div class="error" *ngIf="registerChildForm.get('name').hasError('required') && registerChildForm.get('name').touched" >
				{{'NAME_VALIDATION_TEXT' | translate}}.
			</div>
			<div class="row between-xs middle-xs">
				<p class="col-xs-12">{{'REGISTRATION_PAGE_TEXT' | translate}}?</p>
				<ion-item>
				  <ion-label>Date</ion-label>
				  <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="child_birthday" formControlName="date"></ion-datetime>
				</ion-item>
				<div class="error" *ngIf="registerChildForm.get('date').hasError('required') && registerChildForm.get('date').touched" >
					{{'DATE_VALIDATION_TEXT' | translate}}.
				</div>
				<!-- <div class="col-xs-4 pr-xs-10">
					<ion-item>
						<ion-datetime displayFormat="DD" pickerFormat="DD" placeholder="DD" [(ngModel)]="myDate" formControlName="date"></ion-datetime>
					</ion-item>
				</div>
				<div class="col-xs-4">
					<ion-item>
						<ion-datetime displayFormat="MM" pickerFormat="MM" placeholder="MM" [(ngModel)]="myMonth" formControlName="month"></ion-datetime>
					</ion-item>
				</div>
				<div class="col-xs-4 pl-xs-10">
					<ion-item>
						<ion-datetime displayFormat="YYYY" pickerFormat="YYYY" placeholder="YYYY" [(ngModel)]="myYear" formControlName="year"></ion-datetime>
					</ion-item>
				</div> -->
			</div>
			
		</form>
		<div class="btn-panel row center-xs mt-xs-50">
			<button class="btn btn-primary" (click)="registerChild('RegistrationPhotoPage')" type="submit" [disabled]="!registerChildForm.valid">{{'NEXT_TEXT' | translate}}</button>
		</div>
	</div>
</ion-content>