<ion-header class="toolbar-light" no-border>
	<ion-navbar>
		<ion-buttons left>
			<button class="text-primary" ion-button ion-only><i class="icon-yipp_profile_line icon-4x"></i></button>
		</ion-buttons>
		<ion-title>Plannen</ion-title>
		<ion-buttons right>
			<button class="text-light" ion-button ion-only><i class="icon-yipp_profile_line icon-4x"></i></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="start-training pt-xs-30 pb-xs-30 pr-xs-20 pl-xs-20 bg-light mt-xs-20 mb-xs-50">
		<h1 class="text-xs-center">Start a training to make a new challenge</h1>
	</div>
	<div class="row center-xs">
		<button class="btn btn-primary">Start Training</button>
	</div>
</ion-content>
<ion-footer>
	<div class="row middle-xs around-xs p-xs-10">
		<a href="#!"><i class="icon-yipp_home_line icon-3x"></i><br/>Training</a>
		<a href="#!" class="text-primary"><i class="icon-yipp_challenge_line icon-3x"></i><br/>Challenge</a>
	</div>
</ion-footer>