<ion-header class="toolbar-primary" no-border>
	<ion-navbar>
		<ion-buttons left>
			<div class="row middle-xs">
				<div class="mr-xs-10"><i class="icon-yipp_close"></i></div>
			</div>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-navbar>
	<div class="bg-primary pb-xs-10">
		<h3 class="text-xs-center mb-xs-0"><strong>Fruit and Vegetables</strong></h3>
	</div>
</ion-header>
<ion-content no-bounce>
	<div class="p-xs-20 pt-xs-50">
		<div class="collages-list">
			<div class="collage-item">
				<div class="row center-xs">
					<div class="day">Day 1</div>
				</div>
				<div class="row">
					<div class="reaction"><i class="icon-yipp_emoticon_sad"></i></div>
					<div class="comments col-xs-auto pl-xs-15">
						<h3 class="mb-xs-0"><strong>It went bad that day</strong></h3>
						<h3 class="mb-xs-0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit"</h3>
					</div>
				</div>
			</div>
			<div class="collage-item">
				<div class="row center-xs">
					<div class="day">Day 2</div>
				</div>
				<div class="row">
					<div class="reaction"><i class="icon-yipp_emoticon_sad"></i></div>
					<div class="comments col-xs-auto pl-xs-15">
						<h3 class="mb-xs-0"><strong>It went bad that day</strong></h3>
						<h3 class="mb-xs-0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit"</h3>
					</div>
				</div>
			</div>
			<div class="collage-item">
				<div class="row center-xs">
					<div class="day">Day 3</div>
				</div>
				<div class="row">
					<div class="reaction"><i class="icon-yipp_emoticon_sad"></i></div>
					<div class="comments col-xs-auto pl-xs-15">
						<h3 class="mb-xs-0"><strong>It went bad that day</strong></h3>
						<h3 class="mb-xs-0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit"</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
<ion-footer>
	<div class="row middle-xs center-xs p-xs-10">
		<h3 class="mb-xs-0"><a href="#!" class="text-primary">Restart Challenge</a></h3>
	</div>
</ion-footer>