page-challenge-result {
	ion-content {
		background-color: #fbfbfb !important;
	}

	.collages-list {
		.collage-item {
			margin-bottom: 40px;
			background-color: #fff;
			border-radius: 5px;
			border: 1px solid #f6f6f6;
			padding: 20px 15px;

			.day {
				background-color: $primary;
				color: #fff;
				padding: 10px 10px;
				width: 95px;
				text-align: center;
				font-size: 1.286em;
				font-weight: 700;
				border-radius: 23px;
				margin-top: -43px;
				margin-bottom: 20px;
			}

			.reaction {
				font-size: 3.000em;
				color: $primary;
			}
		}
	}
}