page-profile {
	.progress-list {
		.progress-item {
			padding: 15px 20px;
			border-top: 1px solid #f4f4f4;

			&:last-child {
				border-bottom: 1px solid #f4f4f4;
			}

			h3 {
				margin-bottom: 0;
			}

			.icon-status {
				width: 25px;
				text-align: right;
			}

			&.done {
				background-color: #ddeee8;
				color: #68bca0;
			}
		}
	}

	.contact-list {
		button {
			width: 100%;
			background-color: transparent;
			appearance: none;
			padding: 15px 20px;
			border-bottom: 1px solid #f4f4f4;
		}
	}

	.establish-list {
		ion-list {
			margin-top: 0;
			margin-bottom: 0;

			ion-item {
				padding: 5px 20px 5px !important;
				border-bottom: 1px solid #f4f4f4;

				ion-label {
					margin: 0;
				}
			}
		}
	}
}