<ion-header class="toolbar-primary" no-border>
	<ion-navbar>
		<ion-buttons left>
			<button ion-button ion-only (click)="gotoPage('ProfilePage')" class="text-light">
				<i class="icon-yipp_home_line icon-2x"></i>
			</button>
		</ion-buttons>
		<ion-title>Profiel</ion-title>
		<ion-buttons right>
			<button ion-button ion-only (click)="gotoPage('SettingsPage')" class="text-light">
				<i class="icon-gear_line icon-3x"></i>
			</button>
		</ion-buttons>
	</ion-navbar>
	<div class="bg-primary header-details pr-xs-15 pl-xs-15 pb-xs-10">
		<div class="user-details col-xs-auto">
			<h3 class="mb-xs-0"><strong>Petra Jansen</strong></h3>
			<p class="mb-xs-5">Moeder van Lisa</p>
		</div> <!-- end of .user-details -->
	</div>
</ion-header>
<ion-content no-bounce>
	<div class="progress-list">
		<div class="pt-xs-20 pb-xs-10 pr-xs-20 pl-xs-20">
			<h3 class="mb-xs-0"><i class="icon-yipp_up"></i> <strong>Progressie</strong></h3>
		</div>
		<div class="progress-item done row middle-xs between-xs">
			<h3>Module 1</h3>
			<div class="les row middle-xs">
				<div class="title mr-xs-10">Les</div>
				<div>
					<span>3</span><span>/</span><span>3</span>
				</div>
			</div>
			<div class="plan row middle-xs">
				<div class="title mr-xs-10">Plan</div>
				<div>
					<span>3</span><span>/</span><span>3</span>
				</div>
			</div>
			<div class="icon-status"><i class="icon-yipp_done-full"></i></div>
		</div> <!-- end of .progress-item -->
		<div class="progress-item row middle-xs between-xs">
			<h3>Module 2</h3>
			<div class="les row middle-xs">
				<div class="title mr-xs-10">Les</div>
				<div>
					<span>2</span><span>/</span><span>3</span>
				</div>
			</div>
			<div class="plan row middle-xs">
				<div class="title mr-xs-10">Plan</div>
				<div>
					<span>2</span><span>/</span><span>3</span>
				</div>
			</div>
			<div class="icon-status"></div>
		</div> <!-- end of .progress-item -->
		<div class="progress-item row middle-xs between-xs">
			<h3>Module 3</h3>
			<div class="les row middle-xs">
				<div class="title mr-xs-10">Les</div>
				<div>
					<span>2</span><span>/</span><span>3</span>
				</div>
			</div>
			<div class="plan row middle-xs">
				<div class="title mr-xs-10">Plan</div>
				<div>
					<span>2</span><span>/</span><span>3</span>
				</div>
			</div>
			<div class="icon-status"></div>
		</div> <!-- end of .progress-item -->
	</div> <!-- end of .progress-list -->
	<div class="contact-list">
		<div class="pt-xs-20 pb-xs-10 pr-xs-20 pl-xs-20" style="border-bottom: 1px solid #f4f4f4;">
			<h3 class="mb-xs-0"><i class="icon-yipp_mobile_line-"></i> <strong>Contact</strong></h3>
		</div>
		<button class="row middle-xs between-xs">
			<h3 class="mb-xs-0">Contactpersonen</h3>
			<i class="icon-yipp_forward"></i>
		</button>
	</div> <!-- end of .contact-list -->
	<div class="establish-list">
		<div class="pt-xs-20 pb-xs-10 pr-xs-20 pl-xs-20" style="border-bottom: 1px solid #f4f4f4;">
			<h3 class="mb-xs-0"><i class="icon-gear_line"></i> <strong>Instelligen</strong></h3>
		</div>
		<ion-list>
			<ion-item class="item-borderless">
				<ion-label>Notificaties</ion-label>
				<ion-toggle color="primary"></ion-toggle>
			</ion-item>
			<ion-item class="item-borderless">
				<ion-label>Emails</ion-label>
				<ion-toggle color="primary"></ion-toggle>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
<ion-footer>
	<div class="row middle-xs center-xs p-xs-10">
		<h3 class="mb-xs-0"><a href="#!" class="text-primary"><strong>Sign Out</strong></a></h3>
	</div>
</ion-footer>