<ion-header class="toolbar-primary" no-border>
	<ion-navbar>
		<ion-buttons left>
			<div class="row middle-xs">
				<div class="mr-xs-10"><i class="icon-yipp_close"></i></div>
				<div>Contactpersonen</div>
			</div>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="contacts-list">
		<div class="contact-item row middle-xs between-xs">
			<div>
				<h3 class="m-xs-0">Anita Larsen</h3>
				<h3 class="m-xs-0">+316 254 875 12</h3>
				<h3 class="m-xs-0">anita@gmail.com</h3>
			</div>
			<div class="contact-action">
				<h3 class="m-xs-0 text-primary"><strong>Bel nu</strong></h3>
			</div>
		</div>
		<div class="contact-item row middle-xs between-xs">
			<div>
				<h3 class="m-xs-0">Anita Larsen</h3>
				<h3 class="m-xs-0">+316 254 875 12</h3>
				<h3 class="m-xs-0">anita@gmail.com</h3>
			</div>
			<div class="contact-action">
				<h3 class="m-xs-0 text-primary"><strong>Bel nu</strong></h3>
			</div>
		</div>
		<div class="contact-item row middle-xs between-xs">
			<div>
				<h3 class="m-xs-0">Anita Larsen</h3>
				<h3 class="m-xs-0">+316 254 875 12</h3>
				<h3 class="m-xs-0">anita@gmail.com</h3>
			</div>
			<div class="contact-action">
				<h3 class="m-xs-0 text-primary"><strong>Bel nu</strong></h3>
			</div>
		</div>
	</div>
</ion-content>